.city-card {

    background-color: lightyellow;
    width: 600px;
    height: 600px;
    padding: 30px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .kiev-image {
    width: 500px;
  }